nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding-right: 10%;
  padding-left: 10%;
  background: rgba(30, 24, 24, 0.1);
  backdrop-filter: blur(10px);
  z-index: 20;

  .logo {
    position: relative;
    left: 5%;
    width: 7rem;
    height: 7rem;
    transform: scale(300%);
  }

  .menu-navbar {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0 1rem;
      font-family: $montserrat-font;
      letter-spacing: 0.1rem;
    }

    li a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: $menuNavFontSize;
      font-weight: bold;
    }

    li a:hover {
      color: rgb(225, 225, 72);
    }
  }
}
